#color-palette {
  /* margin-left: 44%; */
  margin-left: 10px;
}

#command-buttons {
  /* margin-left: 55%; */
  margin-left: 10px;
  margin-bottom: 1%;
  margin-top: 1%;
}

#title {
  /* text-align: center; */
  text-align: left;
  margin: 10px;
  font-size: 50px;
}
.color {
  display: inline-block;
  border: solid 1px black;
}
#black {
  width: 40px;
  height: 40px;
  background-color: black;
  display: inline-block;
  background: black;
}
#red {
  width: 40px;
  height: 40px;
  background-color: red;
  display: inline-block;
  background: red;
}
#yellow {
  width: 40px;
  height: 40px;
  background-color: yellow;
  display: inline-block;
  background: yellow;
}
#green {
  width: 40px;
  height: 40px;
  background-color: green;
  display: inline-block;
  background: green;
}
#pixel-board {
  margin-left: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: solid 1px black;
  background-color: white;
  background: white;
}
