/* style of challenge 2 */
#color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
}

div.color {
   width: 25px;
   height: 25px;
   border: 1px solid black;
}

/* style of challenge 3 */
.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

/* style of challenge 4 */
/* style of challenge 5 */

div.pixel-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
div.row-square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
