.color{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin:1px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.pixel{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  margin:-2.5px;
}

.black{
  background-color: black;
  color: black;
}

.azul{
  background-color: blue;
  color: blue;
}

.verde{
  background-color: green;
  color: green;
}

.vermelho{
  background-color: red;
  color: red;
}
