.color {
  border: 1px solid;
  height: 40px;
  line-height: 0;
  width: 40px;
  margin: 0 5px 0 0;
}

.box {
  border: 1px solid;
  height: 40px;
  line-height: 0;
  width: 40px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.pixel {
  display: flex;
}

#color-palette {
display: flex;
margin: 5px 0 5px 0;
}

#pixel-board {
  width: 210px;
}