#palet1 {
    background-color: black;
}
#palet2 {
    background-color: rgb(111, 111, 111);
}
#palet3 {
    background-color: red;
}
#palet4 {
    background-color: green;
}

.color {
    padding: 20px;
    border: black solid 1px;
    display: inline-block;
}
.pixel {
    padding: 20px;
    border: black solid 1px;
    background-color: white;
    width: 40px;
    height: 40px;
}

#pixel-board {
    display: table;
}
.linesPixel {
    display: table-row;
}

.pixel {
    display: table-cell
}