.color {
  border: black solid 1px;
  height: 50px;
  width: 50px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: red;
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: blue;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
}

td {
  border: black solid 1px;
  height: 40px;
  width: 40px;
}
