#color-palette {
  height: 55px;
  width: 250px;
  padding: 6px;
  text-align: center;
}
.black {
  background-color: black;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.blue {
  background-color: blue;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.red {
  background-color: red;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.green {
  background-color: green;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
.pixel {
  display: table-cell;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: white;
}
#pixel-board {
  height: 220px;
  width: 250px;
  text-align: center;
  padding: 20px;
}
#clear-board {
  margin-left: 100px;
}
.selected {
  border: 3px solid black;
}
