.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  margin-right: 20px;
  width: 50px;
  padding: 35px;
}

#color-palette {
  height: 30%; 
  margin: 50px; 
  width: 100%;
}
