.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

div .pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 0;
  width: 40px;
}

.pixel-line {
  height: 40px;
}