* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
  }

body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 100vh;
}

header {
  text-align: center;
}

.color {
  border: 1px solid black;
  border-radius: 40ch;
  display: inline-block;
  height: 45px;
  width: 45px;
}

.black {
  background-color: black;
}

#pixel-board {
  border-spacing: 0;
}

.pixel {
  background-color: white;
  border-collapse: collapse;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}




