body {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

#inValue {
  width: 30px;
  text-align: center;
}
