body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.color-palette-style {
  display: flex;
  justify-content: center;
}

.color {
  border: 1px solid;
  border-color: black;
  height: 40px;
  margin: 9px;
  width: 40px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pixel {
  background-color: white;
  border: 1px solid;
  border-color: black;
  height: 40px;
  margin-top: 2%;
  width: 40px;
}

#clear-board {
  background-color: rgb(12, 81, 120);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  transition: 0.5s;
  width: 200px;
}

#clear-board:hover {
  background-color: rgb(4, 45, 68);
}
