.color {
  border: solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 3px;
}

.PaletaDeCores {
  display: flex;
  justify-content: center;
  display: table;
}

.title {
  text-align: center;
  margin-top: 15%;
}

.pixel {
  border: solid 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: table-cell;
}

.linhaColunaContainer {
  margin-top: 50px;
  display: table;
}

.coluna {
  display: table-row;
}
