h1 {
  background-color: teal;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.color,.pixel {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin-right: -4px;
  width: 40px;
}

.color:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pixel {
  background-color: white;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pixelDad {
  line-height: 0;
  width: 210px;
}
