.container-center {
  display: inline-block;

}
.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;

}
.preta {
  background-color: black;

}
.azul {
  background-color: blue;

}
.amarelo {
  background-color: yellow;

}
.vermelho {
  background-color: red;

}
.pixel {
  background-color: white;
  border: 1px solid black;
  display: table-cell;
  height: 40px;
  width: 40px;
  
}
