body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.background-item1 {
  background-color: black;
}

.background-item2 {
  background-color: rgb(89, 89, 89);
}

.background-item3 {
  background-color: rgb(115, 115, 115);
}

.background-item4 {
  background-color: rgb(217, 217, 217);
}

#table {
  width: 100%;
  height: 225px;
  display: inline-block;
}

#pixel-board {
  text-align: center;
  margin: 0 auto;
}

.pixel {
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  border: 1px solid black;
  line-height: 0;
}
