.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
}

#black {
    background-color: black;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}