.color-palette {
  display: inline-block;
}

.color {
  border: 1px solid black;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
