.color {
   border: 1px solid black;
   display:inline-block;
   padding: 10px;
   width: 40px;
   height: 40px;
   margin-bottom: 20px;
}
#black {
    background-color: black;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

.pixel {
   border: 1px solid black;
   display:inline-block;
   padding: 10px;
   width: 40px;
   height: 40px;
   margin-right: -5px;
   margin-top: -5px;
   background-color: white;
}
.pixel-board {
    width: 220px;
    height: 220px;
}
