  header {
    background-color: rgb(72, 164, 107);
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 120px;
    margin-left: 20%;
    width: 50%;
  }
  
  h1 {
    font-family: Shadows Into Light, Arial, Helvetica;
    margin-left: 35%;
    margin-top: 10px;
    padding: 10px;
    width: 30%;
  }
  
  body {
    background-color: rgb(200, 219, 200);
    box-sizing: border-box;
    text-align: center;
  }
  
  #color-palette {
    align-items: center;
    border: 3px;
    margin-left: 37%;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }
  
  .color {
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 40px;
    width: 40px;
    outline: none;
    cursor: pointer;
  }
  
  p {
    display: inline;
    font-family: Shadows Into Light, Arial, Helvetica;
    font-size: x-large;
    font-weight: 500;
  }
  
  .button1 {
    background-color: rgba(27, 68, 30, 0.432);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: Shadows Into Light, Arial, Helvetica;
    font-size: small;
    font-weight: 500;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
    outline: none;
  }
  
  #pixel-board {
    display: block;
    /*nao mexer*/
    margin: auto 37%;
  }
  
  #pixel-board1 {
    display: block;
    /*nao mexer*/
    margin: auto 14%;
  }
  
  input {
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    width: 60px;
    /* nao mexer */
  }
  
  .pixel {
    border: black 1px solid;
    background-color: white;
    height: 40px;
    width: 40px;
    display: inline-flex;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
    outline: none;
  }
  
  .pixel1 {
    border: black 1px solid;
    background-color: white;
    height: 15px;
    width: 15px;
    display: inline-flex;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
    outline: none;
  }
  
  #table {
    display: table;
  }
  
  .tr {
    display: table-row;
  }
  
  .pixel:hover {
    transform: rotate(180deg);
  }
  
  .button1:hover {
    transform: rotate(180deg);
  }
  
  .td {
    display: table-cell;
  }
  
  .linha {
    border: black 0px solid;
    display: block;
  }