.color {
    border:1px solid black;
    
    
}

#color-palette {
    display: flex;
    justify-content: space-between;
    max-width: 15%;
    
}
div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.a {
    background-color: black;
}

.e {
    background-color: red;
}

.i {
    background-color: blue;
}

.o {
    background-color:  green;
}

#pixel-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    max-width: 18%;
    
}

.pixel {
    background-color: rgb(255, 255, 255);
    max-width: 40px;
    max-height: 40px;
}

