
.color {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#black {
  background-color: black;
}

#yellow{
  background-color: yellow;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(5, 40px);
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
}
