body {
  margin: 0;
  padding: 0;
}

header {
  background: #0fa36b;
  height: 100%;
  padding: 10px 50px 10px 50px;
}

h1 {
  margin: auto;
  width: 300px;
  
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.pixel-board-line {
  height: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
