/* Wildcard '*' pra restear tudo */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("bk.png");
  background-position: 0 -170px ;
  background-size: 1366px 798px;
  font-family: Montserrat , sans-serif;
}

h1 {
  color: rgb(26 , 28 , 35);
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 50%;
}

#color-palette {
  margin: auto;
  margin-bottom: 5px;
  margin-top: 40px;
  text-align: center;
  width: 50%;
}

.color {
  border: 1px solid black;
  display: inline-block;
  margin: 3px;
  padding: 15px;
}

.color1 {
  background-color: black;
}

.color2 {
  background-color: blue;
}

.color3 {
  background-color: green;
}

.color4 {
  background-color: red;
}

#pixel-board {
  box-shadow: 5px 10px 5px rgb(235, 72, 61);
  height: 210px;
  margin: auto;
  width: 210px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  float: left;
  height: 40px;
  width: 40px;
}

.button-section{
  margin: auto;
  width: 15%;
}

.button {
  border: 1px solid rgb(235, 72, 61);
  background-color: transparent;
  border-radius: 4px;
  color: red;
  height: 19px;
  margin-bottom: 10px;
  text-align: center;
  transition-duration: 0.4s;
  width: 63px;
}

.button:hover {
  background-color: rgb(235, 72, 61);
  color: white;
}
