.color-palette {
  border: solid black 1px;
  margin-left: 16px;
  height: 47px;
  width: 188px;
}
.color {
  border: solid black 1px;
  display: inline-block;
  height: 45px;
  width: 45px;
}
.black {
  background-color: black;
}
.pixel-board {  
  margin-left: 5px;
  margin-top: 30px;
}
.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.container div {
  height: 40px;
}
button {
  background-color: white;
}
.allButtons {
  border-radius: 50px;
  display: block;
  float: left;
  width: 60px;
}
