body {
  margin: 0;
  padding: 0;
}

#color-palette ul {
  list-style-type: none;
  
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.color:first-child {
  background-color: black;
}